.edit-table-wrapper {
    overflow-x: auto;
}
.edit-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #cbcbcb;

    td {
        border-left: 1px solid #cbcbcb;
        border-width: 0 0 0 1px;
        margin: 0;
        height: 32px;
        input, select {
            width: 100%;
        }
    }

    &-header {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
    }
    &-body {
        &-tr {
            &-hover {
                background-color: rgb(211, 211, 115);
            }
        }
    }
    &-footer {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
    }
}
