.edit-table-wrapper {
    overflow-x: auto;
}
.edit-table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ebeef5;
    font-size: 14px;
    color: #606266;

    th {
        font-weight: 700;
    }

    td {
        height: 40px;
        input, select {
            width: 100%;
        }
    }

    &-header {
        color: #909399;
    }
    &-body {
        &-tr {
            &-hover {
                background-color: rgb(211, 211, 115);
            }
        }
    }
    &-footer {
        background-color: #eee;
    }
}
